.errormsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

html {
  margin-left: calc(100vw - 100%); /* Prevent scrollbar jumping */
}
